@charset "UTF-8";

.container{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.box{
    display: block;
    width: auto;
    border: solid 1px #05668d;
    margin: 5px;
    padding:  10px;
    max-width: 1100px;
}
.box-middle{
    flex-direction: row;
}

.box-1{
    display: inline-flex;
    padding: 5px;
}
.box-child-1{
    width: 80%;
    height: 80px;
}
.box-child-2{
    width: 20%;
    height: 80px;
}

.box-2{
    height: 35px;
}

.box-3{
    display: inline-flex;
}
.box-child-3{
    height: 164px;
    width: 60%;
}
.box-child-4{
    height: 80px;
    width: 200px;
}
.box-child-5{
    height: 80px;
    width: 200px;
}
.box-child-6{
    height: 80px;
    width: 200px;
}
.box-child-7{
    height: 80px;
    width: 200px;
}

.box-4{
    height: 35px;
}

.box-5{
    display: inline-flex;
}
.box-child-8{
    height: 80px;
    width: 200px;
}
.box-child-9{
    height: 80px;
    width: 200px;
}
.box-child-10{
    height: 80px;
    width: 200px;
}
.box-child-11{
    height: 80px;
    width: 200px;
}
.box-child-12{
    height: 164px;
    width: 60%;
}

.box-6{
    height: 100px;
}
