@charset "UTF-8";

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 183, 205);
}

.box {
  display: flex;
  width: 20%;
  height: 50px;
  margin: 5px;
  padding: 10px;
  border: 1px solid;
  border-color: rgb(119, 7, 125);
}

.box-01 {
  flex-basis: 20%;
  width: auto;
  border-style: none;
}

.box-child-1 {
  flex-basis: 80%;
  height: 100%;
}
.box-child-2{
  flex-basis: 40%;
  height: 100%;
}

.box-02 {
  flex-basis: 20%;
  width: auto;
  border-style: none;
}

.box-child-3 {
  flex-grow: 1;
  height: 100%;
}


.box-child-4 {
  flex-grow: 1;
  height: 100%;
}

.box-child-5 {
  flex-grow: 1;
  height: 100%;
}

.box-03 {
  flex-basis: 30%;
  width: auto;
  border-style: none;
}

.box-child-6 {
  flex-grow: 2;
  height: 20%;
}
