@charset "UTF-8";

.container{
  display: flex;
  flex-direction: column;
}

.box{
  display: block;
  width: auto;
  border: solid 1px #7c7877;
  margin: 20px;
  padding: 10px;
  max-width: 1100px;
}
.box1{
  display: flex;
}
.box-filho-1{
  flex-grow: 4;
  flex-basis: 150px;
  height:350px;
}

.box-filho-2{
  flex-basis: 150px;
  height:350px;
  flex-grow: 1;
}
.box2{
  display: flex;
}

.box-filho-3{
  flex-grow: 1;
  height: 120px;
}
.box-filho-4{
  flex-grow: 1;
  height: 120px;
}
.box-filho-5{
  flex-grow: 1;
  height: 120px;
}
.box3{
  height: 100px;
}
