@charset "UTF-8";

.container{
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  margin: 5px;
  padding: 5px;
  width: 950px;
  border: 2px solid #4682B4;
}

.box-01{
  display: flex;
}

.box-child-1{
  flex-basis: 700px;
  height: 50px;
}
.box-child-2{
  flex-grow: 2;
}

.box-02{
  flex-basis: 4%;
}


.box-03 {
  height: 15%;
}

.box-child-3 {
  flex-basis: 600px;
  flex-grow: 1;
}

.box-auxiliar {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

.box-child-4 {
  width: 145px;
}

.box-child-5 {
  width: 145px;
}

.box-child-6 {
  width: 145px;
}

.box-child-7 {
  width: 145px;
}
.box-04 {
  flex-basis: 5%;
}


.box-05 {
  height: 15%;
  flex-direction: row-reverse;
}

.child-8 {
  flex-basis: 990px;
  flex-grow: 1;
}

.box-auxiliar {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

.box-child-9{
  width: 145px;
}
.box-child-10{
  width: 145px;

}
.box-child-11{
  width: 145px;
}
.box-child-12 {
  width: 145px;
}

.box-06 {
  flex-basis: 8.5%;
}
